<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <h1>Restaurant Form</h1>
        <form action="#" method="post">
        <input type="text" name="name" placeholder="Restaurant Name" id="Restaurant_Name">
        <input type="text" name="address" placeholder="Restaurant Address" id="Restaurant_Address">
        <input type="button" value="Submit" onclick="AddDetail(event)">
        </form>
        
</body>
<script src="index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>